{%  extends 'index.html'%}
{% load comments %}<!--有了这句就会有评论功能-->
{% block page-content %}
<div class="contents">
    <h3>{{bbs_obj.title}}</h3>
    <br/>
    {{ bbs_obj.content|safe }}<!--safe是为了以后显示内容不显示乱码-->

</div>
    <hr/>
    <!--显示评论次数-->
    <div class="comments">
    <div >
        {% get_comment_count for bbs_obj as comment_count %}
        <span class="glyphicon glyphicon-comment">
        </span>
         {{comment_count}}
    </div>
    <br>
  <!--判断如果用户登录，就显示表单让他评论，如果没有认证登录，就显示login让他登录-->
     {% if user.is_authenticated%}

        <form action="/sub_comment/" method="POST">

            <textarea cols=80 rows=3 name='comment_content'></textarea>
            <input type="hidden" name="bbs_id" value="{{bbs_obj.id}}" /><!--后端detail传来的id-->
            <input type="submit" value="Add comment" id="id_submit" />
        </form>
     {%else%}
        <p>Please <a href='/login/'>Login</a> to sumbit a comment!</p>
     {%endif%}


<!--逆序排列，最新的评论在最前面，render就是不逆序-->
    {#   render_comment_list #}
     {% get_comment_list for bbs_obj as comment_list %}
     {% for comment in comment_list reversed %}
            {{ comment.submit_date }}
            <br>
            {{ comment.comment }}
            <hr>

     {%endfor %}

</div>

{% endblock %}