{% extends "base.html" %}
{% block title %}blog article{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
	<h1>{{ article.title }}</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<p class="text-center"><span>{{ article.author.username }}</span><span style="margin-left: 20px">{{ publish }}</span></p>
		<div>{{ article.body }}</div>
	</div>
	<div class="col-xs-6 col-md-4">
		<h2>广告</h2>
		<p><a href="https://www.baidu.com/link?url=MPXyQLrBcnwg0gQieQYeueFHbanqHdEr7GLkMHNq-iLmOAEaV1VrCuv1g1T2Dawc&wd=&eqid=cba9096a00023f93000000025a4cae2f">welcome to learn python</p>
		<img width="200px" src="/static/images/2.jpg">
	</div>
</div>
{% endblock %}